<nav class="top-bar" data-topbar>
        <h1>Streemd Mobile App</h1>
        <h3 style="text-align: center;">Share your favorite videos straight from your smart phone!</h3>

  </nav>
      <hr>
      <div id="screenshots" class="row text-center">
      	<%= image_tag "Sign-In.png", :size => '240x160' %>
      	<%= image_tag "Feed.png", :size => '240x160' %>
      	<%= image_tag "Feed-w-Video.png", :size => '240x160' %>
      	<%= image_tag "Menu.png", :size => '240x160' %>
      	<h3 style="text-align: center;">Your videos. Everywhere</h3>
      	<%= image_tag "Search-Youtube.png", :size => '240x160' %>
      	<%= image_tag "Create-Post.png", :size => '240x160' %>
      	<%= image_tag "Search-Users.png", :size => '240x160' %>
      	<%= image_tag "Profile.png", :size => '240x160' %>
      
      </div>
      
      <div class="row">
      <hr>
        <div class="large-12 hide-for-small">
         <h2>Description</h2>
         <p>A simple way to share your favorite YouTube videos! Create posts and keep up with your feed, which is filled with videos posted from your
            friends, family, and whoever else's content you wish to view. 100 hours of video are uploaded to YouTube every minute, find the your favorite 
            moments and share them!
         <p>
         <ul>
            <li>Search millions of YouTube videos and post them to your profile, all from within the Streemd app</li>
            <li>Unlimited posts</li>
            <li>Find your friends with ease</li>
            <li>Sign up is quick and easy</li>
            <li>Enjoy a simple layout made to maximize your enjoyment of YouTube content</li>
         </ul>
      </div>
    </div>
 

