<li id="<%= search_result.id.videoId %>" class="feed-item">
  <div class="post-overview row">
    <div class="large-2 medium-2 columns">
      <%= image_tag(search_result.snippet.thumbnails.high.url, class: "post_img") %>  
    </div>
    <div class="large-8 medium-8 columns">
      <ul class="post-info-ul">
        <li><%= search_result.snippet.title %></li>
        <li><%= search_result.snippet.description %></li>
      </ul>
    </div>
    <div class="large-2 medium-2 columns">
      <ul class="inline-list text-center right">
        <li>
          <span class="play_button post-action fi-play fi-medium" 
            onclick="playResult('<%= search_result.id.videoId %>')"></span>
        </li>
        <li>
          <a href="#"  data-reveal-id="modal-<%= search_result.id.videoId %>">
            <span class="post-action fi-plus fi-medium"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div id="video_<%= search_result.id.videoId %>_container" class="video_container flex-video" hidden>
        <div id="video_<%= search_result.id.videoId %>">
        </div>    
      </div>
    </div>
  </div>
  <div id="modal-<%= search_result.id.videoId %>" class="reveal-modal medium" data-reveal>
    <%= form_for(current_user.posts.build) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="large-2 medium-2 columns">
          <%= f.hidden_field :youtube_id, value: search_result.id.videoId %>
          <%= f.hidden_field :image, value: search_result.snippet.thumbnails.high.url %>
          <%= image_tag(search_result.snippet.thumbnails.high.url, class: "post_img") %>  
        </div>
        <div class="large-10 medium-10 columns">
          <div class="row">
            <div class="large-12 medium-12 columns">
              <%= f.hidden_field :title, value: search_result.snippet.title %> 
              <%= search_result.snippet.title %> 
            </div>
          </div>
          <div class="row">
            <div class="large-4 medium-4 columns end">
              <%= f.select :category, [['Music','Music'],['TV','TV'],['Movies','Movies'],['Informational','Informational'],
              ['Current Events','Current Events'],['Sports','Sports'],['Other','Other']] %> 
            </div>
          </div>
          <div class="row">
            <div class="large-10 medium-10 columns">
              <%= f.text_area :description, placeholder: "Description..." %>
            </div>
          </div>
                <div class="row">
        <div class="large-12 medium-12 columns">
          <%= f.submit "Post", class: "button rounded" %>
        </div>
      </div>
        </div>
      </div>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</li>