<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :title %>
    <%= f.text_field :title, value: @title %>
    
    <%= f.hidden_field :youtube_id, value: @id %>
    
    <%= f.label :category %>
    <%= f.select :category, [['Music','music'],['TV','tv'],['Movies','movies'],['Informational','Informational'],
    ['Current Events','current events'],['Sports','sports'],['Other','other']] %>
    
    <%= f.text_area :description, placeholder: "Description..." %>
      
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>