<% provide(:title, @user.name) %>

<div class="row">
  <div class="large-1 medium-1 columns">
    <%= image_tag(@user.image) %>
  </div>
  <div class="large-8 medium-8 columns">
    <ul class="post-info-ul">
      <li><%= @user.name %></li>
      <li>Posts (<%= @user.posts.count %>)</li>
      <li>
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.followed_users.count %>
          </strong>
          following
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          followers
        </a>
      </li>
    </ul>
  </div>
  <div class="large-3 medium-3 columns text-right">
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>

<div class="row">
  <div class"large-12 medium-12 columns">
    <% if @user.posts.any? %>
      <%= will_paginate @feed_items %>
      <ul class="posts">
        <%= render partial: 'shared/feed_item', collection: @feed_items %>
      </ul>
      <%= will_paginate @feed_items %>
    <% end %>
  </div>
</div>
