<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('logo.png', size: "100"), root_path, :class => 'brand' %>
      <nav>
        <ul class="nav pull-right">
          <li class="nav-item"><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li class="nav-item"><%= link_to "Users", users_path %></li>
            <li class="nav-item"><%= link_to "Post", youtube_search_path %></li>
            <li id="fat-menu" class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu nav-item">
                <li class="nav-item"><%= link_to "Profile", current_user %></li>
                <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider nav-item"></li>
                <li class="nav-item">
                  <%= link_to "Sign out", signout_path, id: "sign_out" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "Help", help_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>