<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body <% if !signed_in? %> class="bg_img" <% end %>>
    <%= render 'layouts/header' %>
    <div id="main" class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class="large-10 medium-10 large-offset-1 columns">
            <% if msg.is_a?(String) %>
              <div data-alert class="alert-box round success">
                <%= content_tag :div, msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>  
          </div>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>